* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(to top left, $yellow 0%, $orange 100%);
    color: $white;
    font-family: $main-font;
    max-height:100vh;
    max-width:100vw;
  }
  
  #container {
      height:100vh;
      padding-left:10%;
      padding-right:10%;
      text-align:center;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-items:center;
      justify-content:flex-end;
      width:100vw;
      font-size:$mid-font-size;
      h1, h4, h6 {
          margin-top:-10%;
          padding:8%;
          font-weight:lighter;
          font-size:$mid-font-size;

      }

      h1 {
          font-size:2.4em;
          padding-bottom:10%;
      }

      h4 {
          padding-bottom:10%;
          font-size:$main-font-size;
      }
    }
    
 .hidden {
     display:none;
 }
